## MacOSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

## Vagrant
.vagrant

## IntelliJIdea
.idea

## vagrant-mongophp
.librarian
.tmp/

## puppet modules
modules/*
!modules/config-files


## workspace
workspace/*
!workspace/README.md
